:root {
    --brown: #a48279;
    --ltgreen: #bdbc81;
    --pink: #e9c9c9;
    --dkgreen: #296138;
    --mauve: #937086;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--dkgreen);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
    background-color: thistle;
    color: var(--mauve);
}

h1 {
    padding: 30px 0px;
    background-color: var(--pink);
}
h1 span {
    padding-left: 30px;
}

nav {
    width: 66.66%
}

nav ul {
    margin: 20px;
    list-style: none;
    float:right;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    padding: 0px 10px;
}

nav a {
    /* color: white; */
    text-align: center;
    text-decoration: none;
    padding: 20px;
    /* padding: 0px 20px 10px; */
    border-bottom-style: solid;
    border-botton-width: 4px;
    border-bottom-color: var(--mauve);
}

nav a:hover {
    background-color: var(--pink);
}

main {
    padding: 30px;
    background-color: var(--pink);
}

section {
    padding: 10px 0px;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

section h2 {
    display: inline-block;
    text-align: right;
    width: 25%;
    padding: 20px 20px;
    border-right-style: solid;
    border-right-color: var(--brown);
    border-right-width: 4px;
}

section p {
    display: inline-block;
    width: 75%;
    padding: 20px 20px;
}

section div {
    display: inline-block;
    width: 75%;
    padding: 20px 20px;
}
section ul {
    list-style-type: none;
    width: 75%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

section li {
    padding: 0px 0px 4px 0px;
    border-bottom-style: solid;
    border-botton-width: 4px;
    border-bottom-color: var(--mauve);
}

footer {
    padding: 2em;
    background-color: thistle;
    color:  var(--dkgreen);
}

#header-title {
    width: 33.33%;
    position: relative;
}

.hero {
    height: 10em;
}

.project-container {
    width: 75%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-img {
    background-color: darkgray;
    margin: 10px 10px 10px 0px;
}

.project-img-large {
    width: 100%;
    height: 25em;
    border: 4px solid white;
}

.project-img-small {
    width: 48%;
    height: 10em;
    border: 4px solid white;
}