/* COLOR PALETTE AND PAGE STYLE*/

:root {
    --brown: #a48279;
    --ltgreen: #bdbc81;
    --pink: #e9c9c9;
    --dkgreen: #59564a;
    --mauve: #80616e;
    --taupe: #d6c2a3;
    --violet: #b79fad;
    --oldlace: #Fdf7e8;
    --newbrown: #775957;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* ELEMENT FORMATTING */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dkgreen)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--newbrown);
}

h1 {
    width:50%;
    padding: 30px 0px;
    background-color: var(--oldlace);
}

    h1 div {
        padding-left: 30px;
    }

nav {
    width: 50%;
}

    nav ul {
        margin: 20px;
        list-style: none;
        float:right;
        display:flex;
        justify-content: space-between;
    }

    nav li {
        padding: 0px 10px;

    }

    nav a {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        padding: 20px;
        color: var(--oldlace);
        border-bottom-style: solid;
        border-bottom-width: 4px;
        border-bottom-color: var(--oldlace);
    }

    nav a:hover {
        background-color: var(--ltgreen);
        color: var(--dkgreen);
    }

main {
    padding: 30px;
    background-color: var(--oldlace);
}

section {
    padding: 10px 0px;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    section h2 {
        display: inline-block;
        text-align: right;
        width: 25%;
        padding: 20px 20px;
        border-right-style: solid;
        border-right-color: var(--brown);
        border-right-width: 4px;
    }

    section div {
        width: 75%;
        padding: 10px 20px;
    }

h3 {
    margin: .5em;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

a {
     color: purple;
}

footer {
    padding: 2em;
    background-color: var(--newbrown);
    text-align: center;
    color: var(--oldlace);
}


/* OBJECT FORMATTING */


.hero {
    height: 15em;
    overflow: hidden;
    position: relative;
}

.hero-subtitle {
    height: 75px;
    width: 300px;
    background-color: var(--brown);
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: center;
    font-size: 1.5em;
    line-height: 75px;
    color:var(--oldlace)
}

.paragraph-container {
    display: inline-block;
}

.project-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-img {
    margin: 10px 10px 10px 0px;
    border: 6px solid var(--brown);
    height: 20em;
    position: relative;
    z-index: 1;
}

.project-img:hover {
    opacity: .5;
    cursor: pointer;
}

.project-img-large {
    width: 100%;
}

.project-img-small {
    width: 48%;
}

.project-title-box {
    padding: 5px;
    height: 4em;
    width: 200px;
    position: absolute;
    left: -1px;
    bottom: 50px;
    z-index: 2;
    text-align: center;
    line-height: 1em;
    background-color: var(--brown);
    color:var(--oldlace)
}

.contact-me ul {
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contact-me ul li {
    padding: 0px 0px 4px 0px;
    border-bottom: 4px solid var(--brown);
}

.contact-me ul li a {
    text-decoration: none;
    font-size: 1.5em;
}


/* MEDIA QUERIES FOR RESPONSIVENESS */


@media only screen and (max-width: 1005px) {
    nav ul {
        margin: 20px 5px;
    }
}

@media only screen and (max-width: 965px) {
    nav ul {
        display:flex;
        flex-direction: column;
        align-content: space-between;
    }
    
    nav li {
        padding: 20px;

    }

    nav a {
        font-size: 20px;
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 795px) {
    .project-img-small {
        width: 100%;
    }
  }

@media only screen and (max-width: 540px) {
    /* main {
        padding: 10px;
    } */
    h1 div {
        padding-left: 5px;
        font-size: 25px;
    }
    h2 {
        font-size: 18px;
    }    
    nav li {
        padding: 20px 0px;

    }
    nav a {
        font-size: 18px;
        padding: 20px 0px;
        border: none;
    }
}  